@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}


/* header */
nav {
  width: 100%;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 7px #CCCCCC;
  overflow: hidden; /* Prevents margin collapse */
}

nav p {
  width: 261px;
  height: 45px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 32px;
}

nav p a {
  color: #005BAC;
}

.header-content-inner ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-content-inner li {
  display: inline-block;
  list-style: none;
  font-size: 20px;
}

.header-content-inner li:not(:nth-child(4)){
  margin-right: 48px;
}

.header-content-inner a {
  color: #333333;
}

.setsumeikai {
  width: 282px;
  height: 61px;
  position: relative;
  border-radius: 9999px;
  border: none;
  background: linear-gradient(to right, #0271E0, #53A2F0);
  font-size: 20px;
  color: white;
}

.setsumeikai a {
  width: 75%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hamburger-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005BAC;
  cursor: pointer;
}

.line {
  width: 46%;
  height: 5px;
  background-color: white;
  margin-bottom: 5px;
}

.line:nth-child(3) {
  margin-bottom: 0;
}

.header--dropdown {
  background-color: #005BAC;
  width: 100%;
  height: auto;
  padding: 0 20px 0;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 2;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.header--dropdown-item {
  height: 70px;
  padding: 20px 20px 0 0;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  list-style: none;
}

.header--dropdown li:last-child {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  list-style: none;
}

.setsumeikai-sp {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: none;
  background-color: white;
  font-size: 18px;
  color: #005BAC;
}

.header--dropdown-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: center;
  }
  .header-content-inner{
    margin-left: 9%;
  }
  .hamburger-icon {
    display: none;
  }
  .header--dropdown {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 70px;
    justify-content: space-between;
  }
  .header-content-inner{
    display: none;
  }
  nav p {
    text-align: left;
    font-size: 22px;
  }
  nav p a {
    display: inline-block;
  }
}





/* main */
/* upper */
.upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.upper-img-text {
  width: 100%;
  height: auto;
  position: relative;
}

.goukaku-jisseki {
  margin-bottom: 8%;
  display:flex;
  flex-direction: row;
}

.jisseki-outer {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.jisseki {
  font-size: 20px;
}

.no1 {
  font-size: 74px;
  margin: 0 auto;
  color: #F11F8D;
}

.no {
  font-size: 54px;
}

.geneki {
  font-size: 33px;
}

.kaishi {
  font-size: 60px;
  color: #005BAC;
}

@media screen and (min-width: 768px) {
  .bg-img {
    background-image: url(../image/mainVIsual_pc.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .upper-left-outer {
    width: 100%;
    height: 650px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .upper-left {
    position: absolute;
    top: 15%;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .bg-img {
    background-image: url(../image/mainVIsual_sp.jpg);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .upper-left-outer {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .upper-left {
    position: absolute;
    top: 8%;
    left: 5%;
  }
  .feathers {
    max-width: 28px;
    height: auto;
  }
  .jisseki {
    font-size: 11px;
  }
  .no1 {
    font-size: 36px;
  }
  .no1 span {
    font-size: 25px;
  }
  .geneki {
    font-size: 14px;
  }
  .kaishi {
    font-size: 25px;
  }
}




/* buttons */
.buttons li {
  text-align: center;
  border-radius: 9999px;
  border: none;
  color: white;
  position: relative;
}

.buttons li a {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.otoiawase {
  background: #77CB33;
}

.muryoutaiken {
  background: #F6AA00;
}

.shiryouseikyu {
  background: #3AC8AD;
}

@media screen and (min-width: 768px) {
  .buttons {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    bottom: -37.5px;
  }
  .buttons li {
    width: 340px;
    height: 75px;
    font-size: 24px;
    margin-right: 2.4%;
  }
  .buttons li:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .upper {
    flex-direction: column;
  }
  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .buttons li {
    width: 250px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 2%;
  }
  .buttons li:nth-child(3) {
    margin-bottom: 0;
  }
}

.buttons li {
  display: inline-block;
  list-style: none;
}

.buttons a {
  color: white;
}


/* three reasons */
.three-reasons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Prevents margin collapse */
}

.reason {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.three-reasons-boxes {
  width: 47%;
  height: auto;
}

.subjects {
  width: 100%;
  text-align: center
}

.three {
  color: #F11F8D;
}

@media screen and (mix-width: 768px) {
  .reason {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .three-reasons-boxes {
    width: 80%;
    height: auto;
  }
  .reason {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .three-reasons-boxes {
    width: 100%;
    height: auto;
  }
  .second-boxes {
    flex-direction: column-reverse;
  }
}

.second-boxes {
  margin-top: 48px;
  margin-bottom: 48px;
}

.point {
  font-size: 28px;
}

.number {
  font-size: 42px;
}

.point, .number {
  color: #F11F8D;
}

.summaries {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subjects {
    font-size: 36px;
    margin-top: 72px;
    margin-bottom: 32px;
  }
  .three {
    font-size: 54px;
  }
}

@media screen and (max-width: 768px) {
  .subjects {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 17px;
  }
  .three {
    font-size: 40px;
  }
  .point {
    font-size: 24px;
    margin-top: 8px;
  }
  .number {
    font-size: 36px;
  }

}



/* obi */
.obi {
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 72px;
  background-color: #FFEDED;
}

.obi p:first-child {
  padding-top: 56px;
}

.obi p:nth-child(2) {
  padding-top: 20px;
}

.setsumeikai2 {
  width: 360px;
  height: 75px;
  font-size: 24px;
}

.setsumeikai a {
  color: white;
}

.pc {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    margin: 20px 0 10px;
    text-align: center;
    line-height: 2;
  }
}




/* courses and purposes */
.courses-purposes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-purposes-inner {
  width: 60%;
  height: auto;
  text-align: center;
}

/* tabs */
.tabs{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.tabs li {
  width: 49%;
  height: auto;
  border-radius: 5px 5px 0 0;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  padding: 20px;
  opacity: 0.5;
}

.first-tab {
  margin-right: 35px;
}

.tab.active {
  background-color: #F2F9FF;
  opacity: 1;
}

/* contents */
.tabcontents {
  width: 100%;
  margin: 0 auto;
  display: none;
  background-color: #F2F9FF;
}

.ichigyou {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-line {
  padding-top: 32px;
}

.cell {
  width: 50%;
  height: auto;
}

.cell div {
  margin-bottom: 16px;
  overflow: hidden;
}

.cell-left {
  margin-left: 32px;
  margin-right: 15.5px;
  margin-bottom: 32px;
}

.cell-right {
  margin-right: 32px;
  margin-left: 15.5px;
  margin-bottom: 32px;
}

.cell img {
  width: 100%;
  height: auto;
}

.courses-purposes-inner img:hover {
  transform: scale(1.2);
}

.cell p {
  font-size: 20px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .courses-purposes-inner {
    width: 90%;
  }
  .tabs li {
    font-size: 18px;
  }
  .ichigyou {
    flex-direction: column;
    align-items: center;
  }
  .second-line {
    padding-top: 0;
  }
  .cell {
    width: 100%;
  }
  .cell div {
    margin-bottom: 16px;
    overflow: hidden;
  }
  .cell-left {
    margin-left: 0;
    margin-right: 0;
  }
  .cell-right {
    margin-right: 0;
    margin-left: 0;
  }
}



/* tuitions */
.tuitions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tuitions-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 31%;
  height: auto;
  border-collapse:  collapse;
  border: solid 4px #CCCCCC;
}

td {
  height: 74px;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #CCCCCC;
}

.price {
  font-size: 32px;
  color: #F11F8D;
}

td:nth-child(odd), .second-td {
  font-size: 18px;
}

.first-td, .second-td {
  background-color: #F5F5F5;
}

.price span {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .tuitions-inner {
    width: 90%;
  }

  table {
    width: 100%;
  }
}



/* inquiries-locations */
.inquiries-locations {
  width: 100%;
  display: flex;
}

.inquiries-locations div {
  position: relative;
  overflow: hidden
}

.inquiries-locations img {
  width: 100%;
  height: auto;
  display: block; /* Removes bottom space caused by inline-block images */
}

.inquiries-locations img:hover {
  transform: scale(1.2);
}

.inquiries-locations p {
  position: absolute;
  text-align: center;
  color: white;
  top: 42%;
  left: 32%;
  font-size: 32px;
}

.inquiries-locations a {
  color: white;
}

@media screen and (min-width: 768px) {
  .inquiries-locations div {
    flex: 1 1 50%; /* Each div takes up 50% of the container */
    max-width: 50%; /* Ensures no div exceeds 50% of the container */
  }
  .first-img {
    border-right: solid 1px white;
  }
}

@media screen and (max-width: 768px) {
  .inquiries-locations {
    flex-direction: column;
  }
  .inquiries-locations p {
    position: absolute;
    text-align: center;
    color: white;
    top: 40%;
    left: 4%;
    font-size: 22px;
  }
}




/* footer */
footer {
  height: 120px;
  background-color: #FFEDED;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* font */
.noto-sans-jp-regular {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-medium {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-black {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}