@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 1920px;
}

/* header */
.header {
  width: 100%;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden; /* Prevents margin collapse */
}

.company-name {
  color: #005BAC;
  font-size: 32px;
  /* width: 241px; */
  width: 261px;
  height: 45px;
}

.header-content-inner{
  margin-left: 158px;
}

.header-content-inner-li {
  font-size: 20px;
}

.header-content-inner>li:not(:nth-child(4)){
  margin-right: 48px;
}

.setsumeikai {
  width: 282px;
  height: 61px;
  border-radius: 9999px;
  border: none;
  background: linear-gradient(to right, #0271E0, #53A2F0);
  font-size: 20px;
  color: white;
}


/* main */
/* upper */
.upper {
  width: 100%;
  position: relative;
}

.upper-left {
  position: absolute;
  top: 0;
  left: 410px;
}

.goukaku-jisseki {
  margin-top: 105px;
  margin-bottom: 32px;
}

.feathers {
  width: 52.6px;
  height: auto;
}

.jisseki {
  font-size: 20px;
}

.no1 {
  font-size: 54px;
  margin: 0 auto;
  color: #F11F8D;
}

.no {
  font-size: 38px;
}

.geneki {
  font-size: 33px;
}

.kaishi {
  font-size: 60px;
  color: #005BAC;
}

.otoiawase {
  width: 340px;
  height: 75px;
  border-radius: 9999px;
  border: none;
  background: #77CB33;
  font-size: 24px;
  color: white;
}

.muryoutaiken {
  width: 340px;
  height: 75px;
  border-radius: 9999px;
  border: none;
  background: #F6AA00;
  font-size: 24px;
  color: white;
}

.shiryouseikyu {
  width: 340px;
  height: 75px;
  border-radius: 9999px;
  border: none;
  background: #3AC8AD;
  font-size: 24px;
  color: white;
}

.buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -37.5px;
}

.li-button {
  margin-right: 40px;
}


/* middle */
.middle {
  margin-left: 360px;
  margin-left: 360px;
  overflow: hidden; /* Prevents margin collapse */
}

.middle-boxes {
  width: 560px;
  height: 346px;
}

.erabareru {
  width: 100%;
  margin-top: 72px;
  margin-bottom: 32px;
  font-size: 36px;
  text-align: center
}

.san {
  font-size: 54px;
  color: #F11F8D;
}

.reasons {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-boxes {
  margin-top: 48px;
  margin-bottom: 48px;
}

.points {
  font-size: 18px;
}

.numbers {
  font-size: 28px;
}

.points, .numbers {
  color: #F11F8D;
}

.summaries {
  font-size: 24px;
  margin-bottom: 20px;
}



/* obi */
.obi {
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.obi p:first-child {
  padding-top: 56px;
}

.obi p:nth-child(2) {
  padding-top: 20px;
}

.setsumeikai2 {
  width: 360px;
  height: 75px;
  font-size: 24px;
}


/* 汎用 */
.li-horizontal {
  display: inline-block;
  list-style: none;
}

.row {
  display:flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}




/* font */
.noto-sans-jp-regular {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-medium {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-black {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}
