@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */
.header {
  width: 1920px;
  height: 101px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 360px;
  overflow: hidden; /* Prevents margin collapse */
}

.header-content-inner{
  margin-left: 158px;
  /* margin-right: 48px; */
}

.header-content-inner-li {
  font-size: 20px;
}

.margin-r {
  margin-right: 48px;
}

.company-name {
  color: #005BAC;
  font-size: 32px;
  /* width: 241px; */
  width: 261px;
  height: 45px;
}

.moushikomu {
  width: 282px;
  height: 61px;
  border-radius: 9999px;
  border: none;
  background: linear-gradient(to right, #0271E0, #53A2F0);
  font-size: 20px;
  color: white;
}

/* main */

/* upper */
.upper {
  position: relative;
}

.upper-left {
  position: absolute;
  top: 0;
  left: 410px;
}

.goukaku-jisseki {
  margin-top: 105px;
  margin-bottom: 32px;
}

.feathers {
  width: 52.6px;
  height: auto;
}

.jisseki {
  font-size: 20px;
}

.no1 {
  font-size: 54px;
  margin: 0 auto;
  color: #F11F8D;
}

.geneki {
  font-size: 33px;
}

.kaishi {
  font-size: 60px;
  color: #005BAC;
}



/* 汎用 */
.li-horizontal {
  display: inline-block;
  list-style: none;
}

.row {
  display:flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

/* p {
  text-align: center;
} */



/* font */
.noto-sans-jp-regular {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-medium {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-black {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}
